<?xml version="1.0"?>
<!--
/**
* Ffuenf_Common extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category   Ffuenf
*
* @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
* @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
* @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_Common>
            <version>1.1.0</version>
        </Ffuenf_Common>
    </modules>
    <global>
        <blocks>
            <ffuenf_common>
                <class>Ffuenf_Common_Block</class>
            </ffuenf_common>
        </blocks>
        <models>
            <ffuenf_common>
                <class>Ffuenf_Common_Model</class>
            </ffuenf_common>
        </models>
        <helpers>
            <ffuenf_common>
                <class>Ffuenf_Common_Helper</class>
            </ffuenf_common>
        </helpers>
        <resources>
            <ffuenf_common_setup>
                <setup>
                    <module>Ffuenf_Common</module>
                </setup>
            </ffuenf_common_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ffuenf_common after="Mage_Adminhtml">Ffuenf_Common_Adminhtml</ffuenf_common>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ffuenf_common>
                    <file>ffuenf_common.xml</file>
                </ffuenf_common>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <ffuenf_common_log_rotate>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ffuenf_common/observer::rotateLogfiles</model>
                </run>
            </ffuenf_common_log_rotate>
        </jobs>
    </crontab>
    <default>
        <ffuenf_common>
            <general>
                <enable>1</enable>
            </general>
            <log>
                <enable>0</enable>
                <force>0</force>
                <echo>0</echo>
                <file>ffuenf/system.log</file>
            </log>
        </ffuenf_common>
    </default>
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_Common/>
            </modules>
        </suite>
    </phpunit>
</config>